body {
    font-family: Arial, Helvetica, sans-serif ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #6773AA;
    padding-left: 12%;
    overflow: hidden; /* Evita que toda la página se desplace */

}

form {
    padding: 50px 50px 50px 55px; /* Ajuste para la barra */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #737FB2;
    max-height: 400px; /* Altura máxima antes de activar el scroll */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
    scrollbar-gutter: stable; /* Mantiene el espacio reservado para la barra */
}


form::-webkit-scrollbar {
    width: 6px; /* Reduce el ancho */
}

form::-webkit-scrollbar-thumb {
    background-color: #14F9A6;
    border-radius: 4px;
}

form::-webkit-scrollbar-track {
    background: #737FB2;
    border-radius: 20px; /* Mantiene la curva */
    margin: 15px; /* Hace que la barra no toque los bordes */
}


form h2 {
    color: #14F9A6;
    font-size: 35px;
}

.form-txt{
    display: flex;
    justify-content: space-between;
}

.form-txt a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 25px;
}

.form-txt a:hover {
    color: #14F9A6;
    text-decoration: underline;
}

label {
    color: #fff;
    display: flex;
    align-items: left;
    padding-bottom: 14px;
}
.input-group {
    display: flex;
    flex-direction: column;
}

input, textarea {
    background-color: #818EC6;
    padding: 20px 14px;
    margin-bottom: 15px;
    border: 0;
    border-radius:10px;
    font-size:15px;
    color: #FFFFFF;
}

::placeholder {
    color: #BFC9F3;
    font-size: 15px;
}

:focus{
    outline: 1px solid #14F9A6
}

.btn{
    background-color: #14F9A6 ;
    color: #146D31;
    font-size: 17px;
    cursor: pointer;
}

.btn2{
    background-color: #14F9A6 ;
    color: #146D31;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background-color: #14EA9B;
}

.btn2:hover {
    background-color: #14EA9B;
}

@media (max-width:991px){
    body {
        padding: 30px;
    }

    form {
        width: 100%;
    }
    
}

.register-link p a {
    color: #14EA9B;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
    color: #FFFFFF
}

.register-link p  {
    color: #FFFFFF
}